<div class="filter">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. Israel">
    </mat-form-field>
    </div>
    
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
        <!-- Country Flag Column -->
        <ng-container matColumnDef="flag">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <span><img [src]="element.countryInfo.flag" class="one"> </span>
            </td>
        </ng-container>
    
        <!-- Country Name Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
            <td mat-cell *matCellDef="let element">
                <span> {{element.country}} </span>
            </td>
        </ng-container>
    
        <!-- Total Cases Column -->
        <ng-container matColumnDef="cases">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cases </th>
            <td mat-cell *matCellDef="let element"> {{element.cases | number}} </td>
        </ng-container>
    
        <!-- Today Cases Column -->
        <ng-container matColumnDef="todayCases">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Today Cases </th>
            <td mat-cell *matCellDef="let element"> {{element.todayCases | number}} </td>
        </ng-container>
    
        <!-- Total Death -->
        <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Death </th>
            <td mat-cell *matCellDef="let element"> {{element.deaths | number}} </td>
        </ng-container>
    
        <!-- Today Death Column -->
        <ng-container matColumnDef="todayDeaths">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Today Death </th>
            <td mat-cell *matCellDef="let element"> {{element.todayDeaths | number}} </td>
        </ng-container>
    
        <!-- Recovered Column -->
        <ng-container matColumnDef="recovered">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Recovered </th>
            <td mat-cell *matCellDef="let element"> {{element.recovered | number}} </td>
        </ng-container>
    
        <!-- Active Column -->
        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
            <td mat-cell *matCellDef="let element"> {{element.active | number}} </td>
        </ng-container>
    
        <!-- Critical Column -->
        <ng-container matColumnDef="critical">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Critical </th>
            <td mat-cell *matCellDef="let element"> {{element.critical | number}} </td>
        </ng-container>
    
    
        <!-- Total test Column -->
        <ng-container matColumnDef="tests">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total test </th>
            <td mat-cell *matCellDef="let element"> {{element.tests | number}} </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
     [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>