<p></p>
<div *ngIf="(authService.getUser()| async)">
  <button mat-raised-button color="primary" class="addButton" (click)="redirect()">
    Add Patient
  </button>

<br>

<table mat-table [dataSource]="patients" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{element.name.S}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{element.age.S}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="sex">
    <th mat-header-cell *matHeaderCellDef> Sex </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{sexDict[element.sex.S]}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date of Check </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{element.date.S | date:'dd/MM/yyyy'}}</span>
    </td>
  </ng-container>


  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span [ngClass]="{
                'green':element.result.S === 'low risk',
                'orange':element.result.S === 'medium risk',
                'red':element.result.S === 'high risk'
              }
            ">{{element.result.S | titlecase}}</span>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-raised-button class="delButton" (click)="deletePatient(element.name.S,i)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>